<div class="grid">
  <div class="grid__labels">
    @for (h of hours; track h) {
      <div class="grid__hour">{{ h }}:00</div>
    }
  </div>
  <div
    class="grid__canvas"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
  >
    @for (item of layoutForDay(); track item.activity.id) {
      <app-activity-block
        [activity]="item.activity"
        [currency]="currency()"
        [column]="item.column"
        [totalColumns]="item.totalColumns"
        (select)="selectActivity.emit(item.activity)"
        (dragStart)="dragActivity.emit($event)"
      />
    }
  </div>
</div>
